img {
  width: 330px;
  height: 220px;
}

body {
  margin: 0px;
  font-family: 'Arial', sans-serif;
}

footer,
.one {
  background-color: #1F2937;
}

.one {
  padding: 0px 96px;
}

header {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
}

a {
  padding: 8px;
}

.hero {
  display: flex;
  padding: 48px 0px;
}

.three {
  background-color: #E5E7EB;
}

button,
.action-box {
  background-color: #3882F6;
  color: white;
}

button {
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  width: 100px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0px;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.info-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.hero-text {
  margin: 0px 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-image {
  width: 500px;
  height: auto;
  margin: 0px 16px;
  flex: 1;
}

.logo-image {
  width: auto;
  height: 30px;
}